@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

a {
  text-decoration: none;
}
a:visted {
  color: #fdeb13;
}

#navbar ul {
  text-align: right;
  margin: 0 20px;
  position: relative;
}

#navbar ul li {
  display: inline-block;
  padding: 30px 5px;
}


#navbar ul li a {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: .1em;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', 'sans-serif', 'Liberation sans';
  padding: 10px 15px;
}

#navbar ul li a:hover,
small a:hover {
  color: #e31214;
}

.uppercase {
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 2em;
}

#sobre {
  padding: 150px 0;
  background-color: #000;
  color: #ddd;
  /* height: */
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0); */
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
}

#sobre p {
  font-size: 1.3em;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: .04em;
  width: 80%;
}

.bgInclinadoDecrescente {
  background: #000;
  margin: 0;
  width: 100%;
  height: 100px;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
}

.bgInclinadoCrescente {
  background: #000;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #000;
  position: relative;
  /* top: -10px; */
  /* z-index: -5; */
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
}

.positionRelative {
  position: relative;
}

.imagemPrincipal {
  position: relative;
  width: 100%;
}

img {
  display: block;
  margin: 2% auto;
}

#bandas h2 {
  margin-bottom: 5%;
}

#bandas h3 {
  text-align: center;
}

#bandas {
  width: 80%;
  margin: 0 auto 5%;
  height: 700px;
}
#bandas ul {
  margin: 0;
  padding: 0;
}

#bandas ul li {
  list-style: none;
  /* margin: 1em 3em;  */
}

.dia1 {
  float: left;
  text-decoration: center;
  border-right: 1px dashed #333;
  width: 50%;
  /* background: lime; */
  height: 100%;
}

.dia2 {
  width: 50%;
  height: 200px;
  float: right;
}


footer {
  padding: 20px 0;
  border: none;
  background-color: #000;
  color: #ddd;
}

small {
  display: block;
  text-align: center;
  font-size: .8em;
  letter-spacing: .05em;
}

small a, footer a {
  color: #ddd;
}

footer a:hover {
  color: red;
}

footer ul li {
  list-style: none;
  font-size: 1.2em; 
  line-height: 2;
}
