@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

a {
  text-decoration: none;
}

a:visted {
  color: #fdeb13;
}

h2 {
  text-align: center;
  font-size: 2em;
}

.uppercase {
  text-transform: uppercase;
}

/* Navegação */

header {
  background: #000;
  margin: 0;
  height: 100px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 20%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 20%);
}
#navbar ul {
  text-align: right;
  margin: 0 20px;
  position: relative;
}

#navbar ul li {
  display: inline-block;
  padding: 30px 5px;
}

#navbar ul li a, .indexRegulamento{
  font-size: 1em;
  font-weight: bold;
  letter-spacing: .1em;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', 'sans-serif', 'Liberation sans';
  padding: 10px 15px;
}

#navbar ul li a:hover,
small a:hover {
  color: #e31214;
}

.indexRegulamento {
  cursor: pointer;
  color: #fff;
}

.indexRegulamento:hover {
  color: #e31214;
  cursor: pointer;
}

/* Sobre */

#sobre {
  padding: 150px 0;
  background-color: #000;
  color: #ddd;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
}

#sobre p {
  color: #ddd;
  font-size: 1.3em;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: .04em;
  width: 80%;
}
#sobre p>a {
  color: #ddd;
}

.sobreRegulamento:hover, #sobre p>a:hover {
  color: #e31214;
  cursor: pointer;
}

/* Bandas */


.dia1 {
  float: left;
  text-decoration: center;
  border-right: 1px dashed #333;
  width: 49%;
  padding-right: 20px;
}

.dia2 {
  width: 49%;
  height: 200px;
  float: right;
}

#bandas h2 {
  margin-bottom: 5%;
}

#bandas h3 {
  text-align: center;
  font-size: 1.7em;

}

#bandas {
  width: 80%;
  margin: 0 auto ;
  height: 900px;
}
#bandas ul {
  margin: 0;
  padding: 0;
}

#bandas ul li {
  list-style: none;
}
/* Imagem principal */

.imagemPrincipal {
  position: relative;
  width: 100%;
}

img {
  display: block;
  margin: 1% auto 2%;
}

/* Footer */

footer {
  padding: 20px 0;
  background-color: #000;
  color: #ddd;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}
footer section {
  width: 100%;
 padding: 20px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer section p {
  align-self: center;
  text-align: right;
  grid-column: span 2;
}

.redColor {
  color: #e31214;
}

small {
  display: block;
  text-align: center;
  font-size: .8em;
  letter-spacing: .05em;
}

small a, footer a {
  color: #ddd;
}

footer a:hover, .footerRegulamento:hover {
  color: #e31214;
  cursor: pointer;
}

footer ul li {
  list-style: none;
  font-size: 1.2em; 
  line-height: 2;
}

/* Cadastro */

.textoCentralizado {
  text-align: center;
}

.cadastroForm {
  margin: 0 auto 50px;
  width: 45%;
}

.cadastroForm h3 {
  font-size: 1.4em;
}
legend {
  font-size: 1.1em;
}

form label, form input {
  margin-left: 30px;
}

form input[name="rg"], form input[name="cpf"] {
  width: 200px;
  height: 3em;
}

form {
  line-height: 2em;
}

label {
  display: block;
  margin-top: 1em;
  font-size: 1.1em;
}

form input[type="text"], input[name="nascimento"], input[type="email"],input[type="tel"]  {
  width: 90%;
  height: 3em;
}

form input[name="rgDigito"], form input[name="cpfDigito"] {
  width: 3em;
  margin-left: 1em;
  text-align: center;
}

.cadastroForm form fieldset {
  margin-bottom: 2em;
}

.cadastroForm form fieldset label, .cadastroForm form fiedset input {
  display: inline;
  margin: 0;
}
.listaAlfabeto {
  list-style: lower-latin;
}

.listaAlfabeto input {
  margin-left: .5em ;
}

.spanLinkRegulamento {
  cursor: pointer;
  color: #2d2dd8;
}

.spanLinkRegulamento:hover {
  color: #e31214;
  cursor: pointer;
}

.botoes {
  margin-top: 2em;
}

#cadastrar {
  padding: 10px 40px;
  /* background: #57e080; */
  background: cornflowerblue;
  color: #fff;
  font-size: 1.2em;
  border: none;
  margin: 10px 1.8em 10px 0;
  width: 9em;
  cursor: pointer;
}
#cadastrar:hover, #limpar:hover {
  /* left: -2px; */
  top: 1px;
  position: relative;
}

#limpar {
  cursor: pointer;
  width: 9em;
  border: none;
  padding: 10px 40px;
  font-size: 1.2em;
  margin: 10px 0;
  color: #424242;
  background: #ddd;
}

label[for="checkboxRegulamento"] {
  display: inline-block;
  margin-left: .5em; 
  margin-top: 0;
}


input[id="checkboxRegulamento"] {
  margin: 0;
}



/* Regulamento  e Confirmação*/
#regulamento{
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}

#regulamento-bg-branco{
  overflow: auto;
  background: #fff;
  height: 80%;
  width: 50%;
  margin: 5% auto;
  position: relative;
  padding: 20px 40px;
}

#regulamento-bg-branco h1 {
  text-align: center;
  font-size: 1.5em;
}

#regulamento-bg-branco p {
  line-height: 1.5;
}

#fechaContainer {
  position: absolute;
  margin-top: 5%; 
  margin-left: 75.2%;
  width: 40px;
  height: 40px;
  background: #d4d4d4;
  z-index: 1;
  padding: 20px 10px;
  cursor: pointer;
}

#fechaContainer #fecha {
  display: block;
  position: absolute;
  width: 20px;
  height:3px;
  background: black;
  background: transparent;
}

#fechaContainer #fecha:before, 
#fechaContainer #fecha:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #424242;
}

#fechaContainer #fecha:before {
  transform: rotate(45deg);
}

#fechaContainer #fecha:after {
  transform: rotate(135deg);
}

#confirmacao {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}

.confirmacao-bg-branco {
  overflow: auto;
  background: #fff;
  width: 50%;
  margin: 5% auto;
  position: relative;
  clip-path: polygon(0 12%, 27% 18%, 55% 0, 70% 22%, 100% 12%, 91% 47%, 100% 80%, 71% 81%, 55% 94%, 23% 79%, 0 81%, 9% 50%);
  padding: 150px 80px;
}

#confirmacao p, #erroConfirmacao p {
  text-align: center;
  margin-top: 1.5em;
  font-size: 1.4em;
}

#confirmacao .voltar {
  color: cornflowerblue;
}

#confirmacao .voltar span, #erroConfirmacao .voltar span {
  display: inline-block;
  height: 2em;
  padding: 10px 20px;
  border: 1px dotted cornflowerblue;
}

#confirmacao .voltar span:hover, #erroConfirmacao .voltar span:hover {
  display: inline-block;
  height: 2em;
  padding: 10px 20px;
  color: white;
  /* border: 1px solid #adb8f3; */
  background: cornflowerblue;
}


#erroConfirmacao {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}
